:root {
  --c-primary: #26518f;
  --c-secondary: #fcfdfd;
  --c-text-primary: #203d5d;

  --page-gap: 20px;
  --page-width: 600px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background-color: var(--c-secondary);
  color: var(--c-text-primary);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.wrapper {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 var(--page-gap);
}

.icon-eur,
.icon-rub,
.icon-usd {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 6px;
}

.icon-eur {
  background-image: url('./icons/euro.svg');
}

.icon-rub {
  background-image: url('./icons/rub.svg');
}

.icon-usd {
  background-image: url('./icons/usd.svg');
}
